// Colours
$mainColor = #611427
$navColor = white
$navBgColor = lighten($mainColor, 40%)
$contentBgColor = lighten(#FFEBC3, 20%)
$textColor = $mainColor
$linkColor = lighten($mainColor, 40%)
$coverBgColor = lighten(#FFEBC3, 20%)

// Typography
$baseFontSize = 16px
$baseFontSizeWide = 18px
$h1FontSize = 2 * $baseFontSize
$h2FontSize = 1.5 * $baseFontSize
$h3FontSize = 1.5 * $baseFontSize
$footerFontSize = 0.8 * $baseFontSize
$coverH1Size = 4 * $baseFontSize
$bodyFontSize = 1.2 * $baseFontSize
$tileFontSize = 1 * $baseFontSize

$sectionTitleFontSize = 3 * $baseFontSize

$logoSize = 20vh
$bodyWidth = 40rem