// Colours
$mainColor = #eee
$navColor = white
$navBgColor = rgba(black, .8)
$contentBgColor = black
$linkColor = $mainColor
$overlayBgColor = rgba(black, .7)
$navAboutColor = #333

// Sizes
$largeScreenThreshold = 1700px
$textWidth = 40rem
$gutterSize = 1.1px

// Typography
$baseFontSize = 16px
$baseFontSizeWide = 18px
$brandFontSize = 1.2 * $baseFontSize
$h1FontSize = 2 * $baseFontSize
$h2FontSize = 1.5 * $baseFontSize
$h3FontSize = 1.5 * $baseFontSize
$navFontSize = 0.9 * $baseFontSize
$footerFontSize = 0.9 * $baseFontSize
$pictureTitleFontSize = 0.9 * $baseFontSize

// Font families - customize upon your needs of course.
$serif = ''
$sansSerif = 'Ubuntu'
$slab = 'Arvo'